# Flutter/Dart
.dart_tool/
build/
ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock

# Android
android/.gradle
android/app/build
android/local.properties

# macOS
.DS_Store

# IDE
.idea/
.vscode/
*.iml

# Firebase
google-services.json
GoogleService-Info.plist
